<div class="container">
    <div class="grid-item">
        <h1>¡Hola!</h1>
        <p>I’m Edimar Valentín-Kery, an undergraduate student of The Computer Science and Engineering Department at the
           <span>University of Puerto Rico, Mayagüez Campus.</span></p>
        <div class="container">
            <div class="grid-item">
                Home
            </div>
            <div class="grid-item">
                About
            </div>
            <div class="grid-item">
                Socials
            </div>
            <div class="grid-item">
                Contact me
            </div>
        </div>
    </div>
    <div class="grid-item">
        <img class="round-corner" ngSrc="../assets/img/profile.jpg" width="200" height="444" priority>
    </div>
</div>