.container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 24px;
    text-align: center;
    font-family: monospace;
}

h1{
    color: var(--accent)
}

span{
    color: var(--accent)
}

.round-corner {
    border-radius: 8px;
  }